<div class="jumbotron  jumbotron-fluid">
  <div class="container jumbo">
   <h1>Welcome to Pin App</h1>

    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-dark" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-light" %>
      <%= link_to "Join", new_user_registration_path, class: "btn btn-primary" %>  
    <% end %>

  </div>
</div>




