<div class="jumbotron  jumbotron-fluid">
  <div class="container jumbo">
   <h1>Welcome to Pin App</h1>


  <%= link_to "Login", root_path, class: "btn btn-light" %>
  <%= link_to "Join", root_path, class: "btn btn-primary" %>
   

  </div>
</div>




