<div class="jumbotron  jumbotron-fluid">
  <div class="container jumbo">
   <h1>Welcome to Pin App</h1>

  <%= link_to "Login", new_user_session_path, class: "btn btn-light" %>
  <%= link_to "Join", new_user_registration_path, class: "btn btn-primary" %>  

  </div>
</div>




