/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Merriweather+Sans|Shrikhand|Vidaloka');

body {
  background-color: #E9E9E9;
}

#user_email.form-control {
  width: 270px;
}

#user_password.form-control {
  width: 270px;
}

.container.login {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.container.signup {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

h2.signup {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
}

.container.forgot {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.container.edit {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.back.edit {
  text-decoration: none;
}

.card.new.pin {
  margin-left: 300px;
  width: 500px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.card.edit.pin {
  margin-left: 300px;
  width: 500px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.card {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 5px grey;
  font-family: 'Merriweather Sans', sans-serif;

}

.card.show {
  margin-top: 40px;
  box-shadow: 10px 10px 5px grey;
  margin-left: 400px;
}

.container {
  margin-top: 30px;
  margin-left: 0 auto;
}

.navbar.navbar-expand-lg {
  background-color: #06F7CF;
  padding: 10px;
}

a {
  text-decoration: none!important;
}

.collapse.navbar-collapse {
  text-decoration: none;
}

.pin {
  color: #F77F06;
  text-shadow: 3px 2px red;
  margin-left: 100px;
  font-size: 50px;
  font-family: 'Shrikhand', cursive;
}

.link {
  padding-right: 20px;
  font-family: 'Vidaloka', serif;
  font-size: 20px;
  color: black;
}

img {
  border-radius: 10px;
}

.card-body.add {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
  color: black;
  font-size: 30px;
}

.card-header {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
  color: black;
}

#pin_image.form-control {
  font-size: 15px;
}

.btn.btn-outline-primary.btn-sm {
 font-family: 'Vidaloka', serif;
 text-shadow: none;
}

.card-body.edit {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
  color: black;
  font-size: 30px;
}

h2.login {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
}

h2.forgot {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
}

h2.edit.devise {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
}

.jumbotron {
  background-color: #AEAFA9;
  font-family: 'Merriweather Sans', sans-serif;
}
.pagination {
  margin-left: 450px;
}

