/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');


#user_email.form-control {
  width: 270px;
}

#user_password.form-control {
  width: 270px;
}

.container.login {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.container.signup {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

h2.signup {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: 'Black Han Sans', sans-serif;
}

.container.forgot {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.container.edit {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.back.edit {
  margin-left: 410px;
  text-decoration: none;
}

.card.new.pin {
  margin-left: 300px;
  width: 500px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.card.edit.pin {
  margin-left: 300px;
  width: 500px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}











